*{
    margin:0;
    padding: 0;
}

.container{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: Luckiest Guy;
    letter-spacing: 5px;
    color: orange;
    text-shadow: 2px 2px black;
}
.box{
    display: flex;
    flex-flow: column;
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    margin-top: 300px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 2px 2px 20px black;
    background-color: rgb(118, 118, 219);
}
.things-box{
    font-size: 1.5em;
    color: orange;
    margin-top: 2em;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px black;
}
.btn{
    width: 200px;
    height: 60px;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 40px;
    transition: 0.1s;
}

.btn:hover{
    box-shadow: 2px 2px 20px darkslategrey;
}

@media screen and (max-width: 450px){
    .box{
        width: 80%;
        height: 30%;
    }
    h1{
        font-size: 30px;
    }
    .things-box{
        padding: 0px 12px;
        font-size: 1.3rem;
    }
}